:root {
	--pd-modal-overlay-opacity: .54;
	--pd-modal-closing-duration: 200ms;

	--pd-modal-window-padding: 1rem;
	--pd-modal-dialog-padding: 1rem;
}

[data-modal-open] {
	overflow: hidden !important;
}
[data-modal-open][data-modal-scrollbar-offset] {
	margin-right: var(--scrollbar-width, 0);
}
[data-modal-open][data-modal-scrollbar-offset] .pd-modal__window {
	overflow-y: scroll;
}

.pd-modal__window {
	position: fixed;
	inset: 0;
	z-index: 101;
	margin: 0;
	padding-inline: var(--pd-modal-window-padding);
	overflow: auto;
	line-height: 100vh;
	text-align: center;
	-webkit-overflow-scrolling: touch;

}
.pd-modal__window[data-modal-scrollbar-offset] {
	margin-left: var(--scrollbar-width, 0);
}

.pd-modal__dialog,
.pd-modal__overlay {
	animation: pd-modal__open forwards 300ms ease;
}

.pd-modal__overlay {
	position: fixed;
	inset: 0;
	z-index: 100;
	padding: 0;
	overflow: hidden;
	background-color: #000;
	opacity: var(--pd-modal-overlay-opacity);
	animation-name: pd-modal__open--overlay;
	transform: translateZ(0);
}

.pd-modal__dialog {
	display: inline-block;
	width: 100%;
	max-width: 900px;
	min-height: 25vh;
	margin: 4rem auto;
	padding: var(--pd-modal-dialog-padding);
	overflow: hidden;
	background: #fff;
	transform: translateZ(0);
	vertical-align: middle;
	text-align: left;
	line-height: normal;
}

.pd-modal__header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1rem 2rem;
	text-align: left;
}

.pd-modal__title {
	order: -1;
	flex: 1;
	margin: 0;
	text-align: left;
}

.pd-modal__content {
	text-align: left;
	overflow: hidden;
}

/*
	Title marked by this data attribute is used by class `PdModal` as `.pd-modal__title`. Its content is
	replicated automatically into .pd-modal__title and used as aria-labelledby. Therefore we don't want to show
	it again in content. Alternatively, we might hide .pd-modal__title (but not with `display: none`!). There
	should be always only one visible on the screen and one visible for screen readers.
*/
.pd-modal__content [data-modal-title] {
	display:none;
}

.pd-modal__close {
	position: relative;
	flex: 0 0 auto;
	width: 0;
	height: 0;
	padding: 2rem 0 0 2rem;
	margin-left: auto;
	overflow: hidden;
	cursor: pointer;
	text-decoration: none;
	line-height: 2rem;
}
.pd-modal__close:before {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	content: "×";
}

.pd-modal__media-box {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 16 / 9;
}

.pd-modal__media--iframe {
	width: 100%;
	height: 100%;
}

.pd-modal__media-caption {
	--inset: 0;

	position: absolute;
	inset: auto auto var(--inset) var(--inset);
	display: -webkit-box;
	max-width: calc(100% - 2 * var(--inset));
	background: rgba(0 0 0 / 50%);
	backdrop-filter: blur(10px);
	border: .5rem solid transparent; /* instead of padding so the line clamp works */
	color: white !important;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

@media (min-width: 768px) {
	.pd-modal__media-caption {
		--inset: 1rem;
		border-width: .75rem;
		border-radius: 5px;

		-webkit-line-clamp: 4;
	}
}

.pd-modal__pager {
	display: grid;
	grid-template-areas:
			"prev pages next"
			"prev summary next";
	justify-content: space-between;
	grid-template-columns: 1fr 4fr 1fr;
	place-items: center;
}

.pd-modal__page {
	transition: all 300ms ease;
}
.pd-modal__page--prev { grid-area: prev; }
.pd-modal__page--next { grid-area: next; }
.pd-modal__pages { grid-area: pages; }
.pd-modal__pages-summary { grid-area: summary; }

.pd-modal__page--disabled {
	opacity: 0.5;
	text-decoration: none !important;
	pointer-events: none;
}

.pd-modal__page--active {
	text-decoration: none !important;
}

.pd-modal__thumbnail-list {
	position: relative;
	display: flex;
	gap: 1rem;
	width: fit-content;
	padding: 5px !important;
	margin: 0 auto !important;
	overflow-x: auto;
	list-style-type: none !important;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}

.pd-modal__thumbnail-item {
	flex: 0 0 auto;
	margin: 0 !important;
	padding: 0 !important;
}

.pd-modal__thumbnail-link {
	position: relative;
	display: block;
}

.pd-modal__thumbnail-link:before {
	position: absolute;
	inset: -5px;
	border-radius: 5px;
	background: rgba(0 0 0 / 15%);
	content: "";
	transition: opacity 300ms ease;
	opacity: 0;
}
.pd-modal__thumbnail-link--active:before {
	opacity: 1;
}

.pd-modal__thumbnail {
	display: block;
	width: 100px;
	aspect-ratio: 16 / 9;
	margin: 0 !important;
	border-radius: 0;
	object-fit: scale-down;
	object-position: center;
}


/* Modifiers */
.pd-modal[data-modal-closing] .pd-modal__dialog,
.pd-modal[data-modal-closing] .pd-modal__overlay { animation-duration: var(--pd-modal-closing-duration, 0ms); }
.pd-modal[data-modal-closing] .pd-modal__dialog { animation-name: pd-modal__close; }
.pd-modal[data-modal-closing] .pd-modal__overlay { animation-name: pd-modal__close--overlay; }

.pd-modal--media .pd-modal__dialog {
	max-width: 932px;
}

@keyframes pd-modal__open {
	0% { opacity: 0; transform: translate3d(0, 50px, 0); }
	80% { opacity: 1; }
	100% { opacity: 1; transform: translate3d(0, 0, 0); }
}

@keyframes pd-modal__close {
	0% { opacity: 1; transform: translate3d(0, 0, 0); }
	100% { opacity: 0; transform: translate3d(0, 50px, 0); }
}

@keyframes pd-modal__open--overlay {
	0% { opacity: 0; }
	100% { opacity: var(--pd-modal-overlay-opacity); }
}

@keyframes pd-modal__close--overlay {
	0% { opacity: var(--pd-modal-overlay-opacity); }
	100% { opacity: 0; }
}
